{% extends '::blog.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for post in pager.getResults() %}
                <div class="post-preview">
                    <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.abstract }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted on {{ post.publicationDateStart | format_date }}</p>
                  </div>
                <article>
                    {{ post.content|raw }}
                </article>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
{% endblock body %}
